/* Hex codes for colors */
/* fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700");
/* mixins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out; }

body {
  background-color: #0F4172;
  font-family: 'Open-Sans', sans-serif;
  color: #f0edee; }

.btn {
  background-color: #366693;
  border: none;
  padding: .5rem;
  color: #f0edee; }

.nav-bar {
  background-color: #032546;
  height: 4rem;
  padding: .5rem;
  position: relative; }
  .nav-bar img {
    float: left;
    height: 3rem;
    width: auto;
    margin-right: .5rem; }
  .nav-bar .menu {
    list-style-type: none;
    position: relative;
    margin-top: .9rem; }
    .nav-bar .menu li {
      float: left;
      display: inline-block;
      width: 6rem;
      text-align: center; }
  .nav-bar a {
    color: #f0edee;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300; }
  .nav-bar .dropdown {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
      transform--webkit-transform: translate(0, -50%);
      transform--moz-transform: translate(0, -50%);
      transform--ms-transform: translate(0, -50%);
      transform--o-transform: translate(0, -50%);
    right: 5%;
    height: 2rem; }
    .nav-bar .dropdown .label {
      display: inline-block;
      float: left;
      margin: .5rem 1rem 0 0; }
    .nav-bar .dropdown .nav-btn {
      display: inline-block;
      width: 5rem;
      height: 2rem;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      text-transform: uppercase; }
    .nav-bar .dropdown .dropdown-content {
      background-color: #1B5389;
      width: 5rem;
      text-align: center;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      position: absolute;
      right: 0;
      display: none; }
      .nav-bar .dropdown .dropdown-content p {
        line-height: 1.5rem;
        border-bottom: 1px solid rgba(54, 102, 147, 0.8);
        cursor: pointer; }
        .nav-bar .dropdown .dropdown-content p:last-child {
          border: none; }
    .nav-bar .dropdown .show {
      display: block; }

.login {
  text-align: center;
  width: auto;
  height: 4rem;
  padding: 1.5rem;
  font-size: 1.2rem; }
  .login label {
    display: inline-block;
    margin-right: 1rem;
    padding: .2rem; }
  .login input {
    padding: .5rem;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 10rem;
    margin-right: 1rem; }
    .login input:focus {
      outline: none;
      width: 30rem; }

.row-stats {
  padding: 2rem;
  height: 75vh; }
  .row-stats [class*='col-'] {
    text-align: center; }
  .row-stats .stats [class*='col-'] {
    padding: 1rem;
    margin: 1rem 0; }
  .row-stats .stats .title {
    text-transform: uppercase;
    margin-bottom: .5rem; }
  .row-stats .chart-canvas {
    border: 1px solid black;
    height: 100%;
    width: 100%; }

/* imports */

/*# sourceMappingURL=style.css.map */