/* Hex codes for colors */
/* fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,700i|Source+Code+Pro");
/* mixins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out; }

/* imports */
body {
  background-color: #0F4172;
  color: #f0edee; }

.btn {
  background-color: #366693;
  border: none;
  padding: .5rem;
  color: #f0edee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  .btn:focus {
    outline: none; }

@media (max-width: 1199px) {
  body {
    font-size: 14px; } }

@media (max-width: 991px) {
  body {
    font-size: 12px; } }

@media (max-width: 767px) {
  body {
    font-size: 10px; }
  .container {
    padding-left: .5rem;
    padding-right: .5rem;
    max-width: 95%; } }

.nav-bar {
  background-color: #032546;
  height: 4rem;
  padding: .5rem;
  position: relative; }
  .nav-bar img {
    float: left;
    height: 3rem;
    width: auto;
    margin-right: .5rem; }
  .nav-bar .menu {
    list-style-type: none;
    position: relative;
    margin-top: .9rem; }
    .nav-bar .menu li {
      float: left;
      display: inline-block;
      width: 6rem;
      text-align: center; }
  .nav-bar a {
    color: #f0edee;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300; }
  .nav-bar .dropdown {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
      transform--webkit-transform: translate(0, -50%);
      transform--moz-transform: translate(0, -50%);
      transform--ms-transform: translate(0, -50%);
      transform--o-transform: translate(0, -50%);
    right: 5%;
    height: 2rem; }
    .nav-bar .dropdown .label {
      display: inline-block;
      float: left;
      margin: .5rem 1rem 0 0; }
    .nav-bar .dropdown .nav-btn {
      display: inline-block;
      width: 5rem;
      height: 2rem;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      text-transform: uppercase; }
    .nav-bar .dropdown .dropdown-content {
      background-color: #1B5389;
      width: 5rem;
      text-align: center;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      position: absolute;
      right: 0;
      display: none; }
      .nav-bar .dropdown .dropdown-content p {
        line-height: 1.5rem;
        border-bottom: 1px solid rgba(54, 102, 147, 0.8);
        cursor: pointer; }
        .nav-bar .dropdown .dropdown-content p:last-child {
          border: none; }
    .nav-bar .dropdown .show {
      display: block;
      z-index: 3000; }

@media (max-width: 575px) {
  .nav-bar {
    height: 11rem;
    padding: .5rem;
    position: relative; }
    .nav-bar .menu li {
      display: block;
      padding: .5rem;
      width: 100%; }
    .nav-bar .dropdown {
      top: 85%;
      right: 30%; } }

.login,
.admin-actions {
  text-align: center;
  width: auto;
  height: 4rem;
  padding: 1.5rem;
  font-size: 1.2rem; }
  .login label,
  .admin-actions label {
    display: inline-block;
    margin-right: 1rem;
    padding: .2rem; }
  .login input,
  .admin-actions input {
    padding: .5rem;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 10rem;
    margin-right: 1rem; }
    .login input:focus,
    .admin-actions input:focus {
      outline: none;
      width: 30rem; }

@media (max-width: 767px) {
  .login input {
    width: 20rem; } }

@media (max-width: 575px) {
  .login {
    height: auto; }
    .login label {
      display: block;
      margin: 1rem 0; }
    .login input {
      margin-bottom: 1rem; }
      .login input:focus {
        width: initial; } }

.pool-stats .row-stats {
  padding: .5rem;
  margin: 0;
  height: auto; }
  .pool-stats .row-stats [class*='col-'] {
    padding: 0;
    text-align: center; }
  .pool-stats .row-stats .stats [class*='col-'] {
    padding: 0 2rem 1rem 2rem;
    margin: 1rem 0; }
  .pool-stats .row-stats .stats .title {
    background-color: #1B5389;
    height: 3rem;
    text-transform: uppercase;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .pool-stats .row-stats .stats .value {
    background-color: #366693;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center; }
  .pool-stats .row-stats .chart {
    margin-top: 4rem;
    height: 75%; }

@media (max-width: 991px) {
  .pool-stats .row-stats {
    padding: .5rem;
    height: auto; }
    .pool-stats .row-stats .stats [class*='col-'] {
      padding: 0 2rem .5rem 2rem; } }

@media (max-width: 575px) {
  .pool-stats .row-stats .stats .row {
    width: 100%; } }

.last-miners {
  padding: 3rem 0 1.5rem 0; }
  .last-miners .container {
    overflow-x: auto;
    margin: 0 auto; }
  .last-miners h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2.5rem;
    text-align: center; }
  .last-miners .last-miners-table {
    width: 100%;
    min-width: 600px;
    font-size: .8rem; }
    .last-miners .last-miners-table .header {
      font-weight: 700;
      height: 3rem; }
      .last-miners .last-miners-table .header th:nth-of-type(1) {
        width: 15%; }
      .last-miners .last-miners-table .header th:nth-of-type(2) {
        width: 55%; }
      .last-miners .last-miners-table .header th:nth-of-type(3) {
        width: 15%; }
      .last-miners .last-miners-table .header th:nth-of-type(4) {
        width: 15%; }
    .last-miners .last-miners-table .table-body tr:nth-child(even) {
      background-color: #1B5389; }
    .last-miners .last-miners-table .table-body td {
      text-align: center;
      padding: .5rem;
      line-height: 1.2rem; }
    .last-miners .last-miners-table .table-body .miner-id {
      font-family: "Source+Code+Pro", monospace;
      font-size: .8rem; }
      .last-miners .last-miners-table .table-body .miner-id a {
        font-family: "Source+Code+Pro", monospace;
        color: #f0edee;
        text-decoration: none;
        border-bottom: 1px dashed #f0edee;
        font-size: .8rem; }

@media (max-width: 1199px) {
  .last-miners {
    padding: 2rem; }
    .last-miners .last-miners-table {
      table-layout: fixed; }
      .last-miners .last-miners-table td {
        word-wrap: break-word; } }

@media (max-width: 767px) {
  .last-miners .last-miners-table th {
    width: 20%; }
  .last-miners .last-miners-table .miner-id {
    width: 55%; } }

footer {
  background-color: #032546;
  text-align: center;
  border-top: 1px solid #f0edee;
  height: 4rem;
  padding: 1rem;
  font-size: .8rem; }

@media (max-width: 787px) {
  footer {
    font-size: .7rem; } }

@media (max-width: 575px) {
  footer {
    height: auto;
    min-height: 4rem; } }

.css-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0; }

.wrapper {
  position: fixed;
  margin: 10rem auto;
  padding: 1.2rem;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 5s ease-in-out;
  height: auto;
  width: 30%;
  color: #191919; }
  .wrapper .close {
    position: absolute;
    top: .4rem;
    right: .4rem;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    cursor: pointer; }
  .wrapper .password-form {
    display: block; }
    .wrapper .password-form input {
      padding: .5rem;
      border: none;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      width: 10rem;
      outline: none; }
    .wrapper .password-form .btn-password {
      margin-left: 1rem; }
  .wrapper .wrong-password {
    display: none; }
    .wrapper .wrong-password .btn-repassword {
      display: block;
      margin-left: 75%;
      margin-top: 1.3rem; }
  .wrapper .wrong-id {
    display: none; }

.admin-nav {
  font-family: 'Arial', sans-serif;
  height: 40px; }
  .admin-nav .admin-menu {
    list-style-type: none;
    position: relative; }
    .admin-nav .admin-menu li {
      float: left;
      display: inline-block;
      width: 6rem;
      text-align: center; }

#logsSection .logs-div {
  height: 90%;
  overflow: hidden;
  display: flex; }
  #logsSection .logs-div .log {
    border: 1px black solid;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-height: 100%;
    overflow-y: scroll; }
    #logsSection .logs-div .log h2 {
      text-align: center; }
    #logsSection .logs-div .log table {
      font-size: .8rem;
      table-layout: fixed;
      width: 100%; }
      #logsSection .logs-div .log table * {
        transition: initial;
        -webkit-transition: initial;
        -ms-transition: initial;
        -o-transition: initial; }

#logsSection .search-form {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  bottom: 1rem;
  text-align: center; }

#logsSection .highlight {
  background-color: #466626; }

#actionSection {
  display: none; }
  #actionSection input {
    width: 400px; }
    #actionSection input:focus {
      width: 400px; }
  #actionSection section {
    display: block;
    width: 600px;
    margin: 0 auto 20px auto; }
  #actionSection .buttons {
    text-align: center; }
  #actionSection .wrapper {
    min-width: 30%; }
    #actionSection .wrapper section {
      width: auto;
      margin: auto; }
    #actionSection .wrapper .prompt {
      vertical-align: middle; }
      #actionSection .wrapper .prompt .message {
        display: inline-block; }

.prompt-sign {
  display: inline-block;
  margin: 20px;
  font-size: 45px;
  font-weight: 700; }

.api-success {
  color: #090; }

.api-fail {
  color: #900; }

.user-menu {
  height: 2.5rem;
  margin: 2rem 0;
  background-color: #1B5389;
  line-height: 2.5rem;
  font-size: 1.5rem; }
  .user-menu .menu {
    list-style-type: none;
    position: relative;
    width: 30rem;
    margin: 0 auto; }
    .user-menu .menu li {
      float: left;
      display: inline-block;
      width: 10rem;
      text-align: center;
      cursor: pointer;
      font-weight: 700; }

.miner-id {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem 0; }
  .miner-id #minerId {
    font-weight: 700;
    font-style: italic; }
  .miner-id p {
    display: inline-block; }

.header {
  text-align: center;
  font-size: 1.5rem;
  margin: 1.5rem; }

#dashBoardSection {
  display: block;
  margin-bottom: 2rem; }
  #dashBoardSection canvas {
    width: 100%;
    height: 400px !important; }

#workersSection {
  display: none; }
  #workersSection h2 {
    text-align: center; }
  #workersSection .search-info {
    font-size: .9rem;
    margin-bottom: .5rem; }
  #workersSection input {
    display: block;
    font-size: .9rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: .3rem; }
    #workersSection input:focus {
      outline: none; }
  #workersSection .workers-table {
    height: 30rem;
    overflow-y: auto; }
  #workersSection table {
    width: 80%;
    margin: 0 auto; }
    #workersSection table * {
      transition: initial;
      -webkit-transition: initial;
      -ms-transition: initial;
      -o-transition: initial; }
    #workersSection table .header {
      font-weight: 600;
      font-size: 1.1rem;
      text-align: center; }
      #workersSection table .header tr {
        height: 3rem; }
        #workersSection table .header tr th {
          white-space: normal; }
          #workersSection table .header tr th:nth-of-type(1) {
            width: 25%; }
          #workersSection table .header tr th:nth-of-type(2) {
            width: 25%; }
          #workersSection table .header tr th:nth-of-type(3) {
            width: 10%; }
          #workersSection table .header tr th:nth-of-type(4) {
            width: 20%; }
          #workersSection table .header tr th:nth-of-type(5) {
            width: 20%; }
    #workersSection table .table-body tr:nth-child(even) {
      background-color: #1B5389; }
    #workersSection table .table-body td {
      text-align: center;
      padding: .5rem 0; }

#payoutSection {
  display: none; }

.dashboard-pplns #pplnsWindow {
  padding: 0;
  height: 50px;
  min-height: 50px;
  width: 700px;
  list-style-type: none;
  margin: 0 auto;
  cursor: pointer; }
  .dashboard-pplns #pplnsWindow li {
    height: 100%;
    box-sizing: border-box; }
  .dashboard-pplns #pplnsWindow .block {
    border: 1px solid #f0edee;
    float: left;
    position: relative; }
    .dashboard-pplns #pplnsWindow .block:hover {
      border-color: #366693; }
    .dashboard-pplns #pplnsWindow .block:after {
      content: '';
      background-color: #cb2f07;
      width: 2px;
      height: 80px;
      position: absolute;
      right: -1px;
      top: -15px;
      z-index: 1000; }
    .dashboard-pplns #pplnsWindow .block:last-child:after {
      display: none; }
    .dashboard-pplns #pplnsWindow .block .shares {
      background-color: #f0edee; }

.dashboard-pplns .note-factor {
  text-align: right;
  font-size: .7rem;
  margin-top: 1.2rem; }

.dashboard-pplns .note-info {
  text-align: center;
  font-size: 1rem;
  margin-top: .5rem; }

.dashboard-pplns .legend {
  text-align: right;
  margin-top: .5rem;
  font-size: .8rem; }
  .dashboard-pplns .legend p {
    display: inline-block;
    margin: 1rem .7rem;
    position: relative; }
    .dashboard-pplns .legend p:before {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: .1rem;
      left: -1rem; }
  .dashboard-pplns .legend .mined-blocks:before {
    background-color: #cb2f07; }
  .dashboard-pplns .legend .user-shares:before {
    background-color: #f0edee; }
  .dashboard-pplns .legend .other-shares:before {
    border: 1px solid #f0edee; }

.pool-stats .row-stats {
  margin: 0 auto; }
  .pool-stats .row-stats .stats {
    justify-content: space-around; }
    .pool-stats .row-stats .stats [class*='col-'] {
      padding: 0 .2rem 1rem .2rem;
      margin: 1rem 0; }
    .pool-stats .row-stats .stats .value {
      height: 4.5rem;
      flex-wrap: wrap;
      padding: .5rem 0;
      font-size: .95rem; }
    .pool-stats .row-stats .stats span {
      margin: 0 auto .5rem auto;
      width: 100%; }

.pool-stats #balanceBar {
  align-self: center;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  height: 25px;
  width: 100%;
  border: 1px solid white;
  float: none;
  cursor: pointer; }
  .pool-stats #balanceBar li {
    float: left;
    height: 100%; }
  .pool-stats #balanceBar .userShares {
    background-color: #f0edee; }
  .pool-stats #balanceBar .otherShares {
    width: auto; }

[id*='Hover'] {
  position: absolute;
  height: auto;
  width: auto;
  background-color: #f0edff;
  padding: 10px;
  color: #191919;
  z-index: 2000;
  display: none;
  opacity: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  transition: opacity 3s ease-in-out;
  -webkit-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out; }
  [id*='Hover'] p {
    display: inline-block; }

/*# sourceMappingURL=style.css.map */