.admin-nav
	font-family: 'Arial', sans-serif
	height: 40px
	.admin-menu
		list-style-type: none
		position: relative
		li
			float: left
			display: inline-block
			width: 6rem
			text-align: center

		a
		color: $text
		text-decoration: none
		font-weight: 300

#logsSection
	.logs-div
		min-height: 85vh
		overflow: hidden
		display: flex
		.log
			border: 1px black solid
			display: flex
			flex: 1
			flex-direction: column
			max-height: 85vh
			overflow-y: scroll
			h2
				text-align: center;
			table
				font-size: .8rem
				tr:nth-child(even)
					background-color: #1B5389
	.search-form
		width: 400px;
		margin: 0 auto;

	.highlight
		background-color: #466626