.last-miners
	padding: 3rem
	h2
		font-weight: 700
		font-size: 2rem
		margin-bottom:  2.5rem
		text-align: center
	.last-miners-table
		width: 100%
		font-size: .8rem
		.header
			font-weight: 700
			height: 3rem
		.table-body
			td
				text-align: center
				padding: .5rem
				line-height: 1.2rem
			.miner-id
				font-family: $fnt_miner
				a
					font-family: $fnt_miner
					color: $text
					text-decoration: none
					border-bottom: 1px dashed $text

@media (max-width: 1199px)
	.last-miners
		padding: 2rem
		.last-miners-table
			table-layout: fixed
			td
				word-wrap: break-word

@media (max-width: 767px)
	.last-miners
		.last-miners-table
			th
				width: 20%
			.miner-id
				width: 40%