.login
	text-align: center
	width: auto
	height: 4rem
	padding: 1.5rem
	font-size: 1.2rem
	label
		display: inline-block
		margin-right: 1rem
		padding: .2rem
	input
		padding: .5rem
		border: none
		+border-rad(10px)
		width: 10rem
		margin-right: 1rem
		&:focus
			outline: none
			width: 30rem
		
@media (max-width: 767px)
	.login
		input
			&:focus
			width: 20rem
