.setting-form
	text-align: center
	margin: 2rem auto
	label
		margin: .5rem
		padding: .2rem
		float: right
	input,button
		padding: .5rem
		margin: .5rem
		border: none
		float: left
		+border-rad(10px)
		width: 15rem
		&:focus
			outline: none
	[type="checkbox"]
		width: 15px
		height: 15px
		margin-left: 0
		vertical-align: bottom
		position: relative
		top: .3rem
	.col-tooltip
		display: block
		transition: initial
		-webkit-transition: initial
		-ms-transition: initial
		-o-transition: initial
		.diff-password
			text-align: left

@media (max-width: 575.98px)
	label
		float: initial!important
	input:not([type="checkbox"])
		float: initial!important
	[type="checkbox"]
		top: -.5rem!important