.setting-form
	text-align: center
	margin: 2rem auto
	label
		margin: .5rem
		padding: .2rem
		float: right
	input
		padding: .5rem
		margin: .5rem
		border: none
		float: left
		+border-rad(10px)
		width: 15rem
		&:focus
			outline: none
	[type="checkbox"]
		width: 15px
		height: 15px
		margin-left: 0
		vertical-align: bottom
		position: relative
		top: .3rem
	.diff-password
		position: relative
		z-index: 100
		+border-rad(10px)
		background-color: $text
		margin-left: 17rem
		height: auto
		color: $border
		padding: 10px
		font-size: .8rem
		&:before,&:after
			position: absolute
			content: ''
			width: 45px
			height: 1rem
			background: $text
			left: 21.8em
			z-index: -1
		&:before
			left: -5%
			transform: skew(-50deg, 0)
		&:after
			left: -5%
			transform: skew(50deg, 0)

@media (max-width: 575.98px)
	label
		float: initial!important
	input:not([type="checkbox"])
		float: initial!important
	[type="checkbox"]
		top: -.5rem!important