h2
		text-align: center

.users-table
		width: 70rem
		margin: 0 auto 10rem auto

		*
			transition: initial
			-webkit-transition: initial
			-ms-transition: initial
			-o-transition: initial
		.header
			font-weight: 600
			font-size: 1.1rem
			text-align: center
			tr
				height: 3rem
				th
					white-space: normal
		.table-body
			tr:nth-child(even)
				background-color: $background-secondary
			td
				text-align: center
				padding: .5rem 0


.user-menu
	height: 2.5rem
	margin: 2rem 0
	background-color: $background-secondary
	line-height: 2.5rem
	font-size: 1.5rem
	.menu
			list-style-type: none
			position: relative
			width: 40rem
			margin: 0 auto
			li
				float: left
				display: inline-block
				width: 10rem
				text-align: center
				cursor: pointer
				font-weight: 700

.miner-id
	font-size: 1.5rem
	text-align: center
	margin: 2rem 0
	#minerId
		max-width: 90%
		margin: 0 auto
		font-weight: 700
		font-style: italic
		word-wrap: break-word

.header
	text-align: center
	font-size: 1.5rem
	margin: 1.5rem

#dashBoardSection
	display: block
	margin-bottom: 2rem
	.chart
		height: 400px
		margin-bottom: 5rem
		canvas
			width: 100%

#workersSection
	display: none
	text-align: right

	.search-info
		font-size: .9rem
		margin-bottom: .5rem
	input
		display: block
		font-size: .9rem
		+border-rad(10px)
		padding: .3rem
		margin: 0 0 0 auto
		&:focus
			outline: none
	.workers-table
		height: 25rem
		overflow-y: auto
		.table-body
			.active-worker
				color: $ok
			.unactive-worker
				color: $no-ok
	table
		.header
			tr
				th
					&:nth-of-type(1)
						width: 16rem
					&:nth-of-type(2)
						width: 16rem
					&:nth-of-type(3)
						width: 8rem
					&:nth-of-type(4)
						width: 15rem
					&:nth-of-type(5)
						width: 15rem
		
#payoutsSection
	display: none
	a
		font-family: $fnt_miner
		color: $text
		text-decoration: none
	.payouts-table
		height: auto
		overflow-x: auto
		table
			table-layout: fixed
			.header
				tr
					th
						&:nth-of-type(1)
							width: 8rem
						&:nth-of-type(2)
							width: 8rem
						&:nth-of-type(3)
							width: 10rem
						&:nth-of-type(4)
							width: auto
			.table-body
				td
					word-wrap: break-word


.dashboard-pplns
	#pplnsWindow
		padding: 0
		height: 50px
		min-height: 50px
		width: 1050px
		list-style-type: none
		margin: 0 auto
		cursor: pointer
		li
			height: 100%
			box-sizing: border-box
		.block
			border: 1px solid $text
			float: left
			position: relative
			&:hover
				border-color: $btn
			&:after
				content: ''
				background-color: $pplns-mined
				width: 2px
				height: 80px
				position: absolute
				right: -1px
				top: -15px
				z-index: 1000
			&:last-child:after
				display: none
			.shares
				background-color: $text
	.note-factor
		text-align: right
		font-size: .7rem
		margin-top: 1.2rem

	.note-info
		text-align: center
		font-size: 1rem
		margin-top: .5rem
	.legend
		text-align: right
		margin-top: .5rem
		font-size: .8rem
		p
			display: inline-block
			margin: 1rem .7rem
			position: relative
			cursor: pointer
			&:before
				content: ''
				width: 10px
				height: 10px
				position: absolute
				top: .1rem
				left: -1rem
		.mined-blocks:before
			background-color: $pplns-mined
		.user-shares:before
			background-color: $text
		.other-shares:before
			border: 1px solid $text

.pool-stats
	.row-stats
		margin: 0 auto
		.stats
			justify-content: space-around
			[class*='col-']
				padding: 0 .2rem 1rem .2rem
				margin: 1rem 0
			.value
				height: 4.5rem
				flex-wrap: wrap
				padding: .5rem 0
				font-size: .95rem
			.row
				margin: 0
			span
				margin: 0 auto .5rem auto
				width: 100%

	#balanceBar
		align-self: center
		padding: 0
		margin: 0 auto
		list-style-type: none
		height: 25px
		width: 100%
		border: 1px solid white
		float: none
		cursor: pointer
		li
			float: left
			height: 100%
		.userShares
			background-color: $text
		.otherShares
			width: auto

#settingsSection
	display: none
	.setting-form
		text-align: center
		margin: 2rem auto
		label
			margin: .5rem
			padding: .2rem
			float: right
		input,button
			padding: .5rem
			margin: .5rem
			border: none
			float: left
			+border-rad(10px)
			width: 15rem
			&:focus
				outline: none
		[type="checkbox"]
			width: 15px
			height: 15px
			margin-left: 0
			vertical-align: bottom
			position: relative
			top: .3rem
		.col-tooltip
			display: block
			transition: initial
			-webkit-transition: initial
			-ms-transition: initial
			-o-transition: initial
			.diff-password
				text-align: left

[id*='Hover']
	position: absolute
	height: auto
	width: auto
	background-color: $text
	padding: 10px
	color: $border
	z-index: 2000
	display: none
	opacity: 0
	+border-rad(10px)
	+transition(opacity, 3s)
	p
		display: inline-block

@media (max-width: 1199px)
	.dashboard-pplns
		#pplnsWindow
			width: 900px

@media (max-width: 991px)
	.dashboard-pplns
		#pplnsWindow
			width: 700px

@media (max-width: 767px)
	.dashboard-pplns
		#pplnsWindow
			width: 500px

@media (max-width: 575px)
	.user-menu
		height: auto
		margin: 2rem 0
		.menu
			width: 100%
			li
				clear: both
				display: block
				width: 100%
	.users-table
		width: 45rem
	.dashboard-pplns
		#pplnsWindow
			width: 300px

	#workersSection
		text-align: center
		input
			margin: 0 auto

	#settingsSection
		.checkbox-row
			margin-top: 1rem!important
			.checkbox-label
				text-align: right
				padding-right: 0
				label
					margin-right: 0
		.save-btn
			float: initial!important
			width: 10rem!important
			margin: 0 auto!important
		label
			float: initial!important
		input:not([type="checkbox"])
			float: initial!important
		[type="checkbox"]
			top: -.5rem!important
	