.menu
		list-style-type: none
		position: relative
		li
			float: left
			display: inline-block
			width: 7rem
			text-align: center
			cursor: pointer
			font-weight: 700

.miner-id
	font-size: 1.5rem
	text-align: center
	margin: 2rem 0
	#minerId
		font-weight: 700
		font-style: italic
	p
		display: inline-block

.header
	text-align: center
	font-size: 1.5rem
	margin: 1.5rem
#dashBoardSection
	display: block
	canvas
		width: 100%
		height: 400px!important

#payoutSection
	display: none

.dashboard-pplns
	#pplnsWindow
		padding: 0
		height: 50px
		min-height: 50px
		width: 700px
		list-style-type: none
		margin: 0 auto
		li
			height: 100%
			box-sizing: border-box
		.block
			border: 1px solid #f0edee
			float: left
			position: relative
			&:hover
				border-color: $btn
			&:after
				content: ''
				background-color: #101010
				width: 2px
				height: 80px
				position: absolute
				right: -1px
				top: -15px
				z-index: 1000
			&:last-child:after
				display: none
			.shares
				background-color: #f0edee
	.note-factor
		text-align: right
		font-size: .7rem
		margin-top: 1.2rem

	.note-info
		text-align: right
		font-size: .9rem
		margin-top: .5rem

.pool-stats
	.row-stats
		margin: 0 auto
		.stats
			justify-content: space-around
			[class*='col-']
				padding: 0 .5rem 1rem .5rem
				margin: 1rem 0
			.title
				background-color: $color-primary-2
				height: 3rem
				text-transform: uppercase
				margin-top: 1rem
				display: flex
				align-items: center
				justify-content: center
			.value
				background-color: $btn
				height: 2.5rem
				display: flex
				align-items: center
				justify-content: center
#onHover
	position: absolute
	height: auto
	width: auto
	background-color: #f0edff
	padding: 10px
	color: #191919
	z-index: 2000
	display: none
	opacity: 0
	+border-rad(10px)
	+transition(opacity, 3s)
	p
		display: inline-block